
	
*
	box-sizing: border-box

.container
	position: relative
	max-width: 1140px
	margin: 0 auto

.button
	display: block	
	color: #ffffff
	background-color: #c70101
	border-radius: 5px
	text-align: center
	margin: auto
	text-transform: uppercase	
	border: none
	cursor: pointer
	&:hover
		box-shadow: 0px 0px 20px 1px #353535

.button.animate_btn
	span				
		position: relative
		z-index: 100
	&:before
		left: -93%
		top: 135%
		border-radius: 5px
		background-color: #ff0000 				
		opacity: 1
		transform: rotate(0deg)								
		&:hover:before				
			left: -10%
			top: 0		
		

	




		
		
		
	
		
			

