@media ( max-width: 1200px)
	.container
		max-width: 960px
	.promo
		min-height: 590px		
		.header			
			&__title
				font-size: 34px
				font-weight: 500			
			&__subtitle
				margin-top: 7px
				font-size: 22px
			&__icons
				margin-top: 55px
			&_descr
				max-width: 130px
				font-size: 16px
				margin-top: 14px 

			&_request
				width: 260px
				height: 40px
				font-size: 14px
				margin-right: 117px
			&_refcat
				margin-right: 120px
	.advantages
		padding-bottom: 50px
		&__title
			margin-top: 165px
			font-size: 27px
		&__items
			margin-top: 48px
			max-width: 850px
		&_header
			margin-top: 15px
		&_descr
			width: 252px
			font-size: 16px
			font-weight: 500
	.carousel
		&__inner
			width: 400px				
			img				
				width: 100%
	.catalog
		&__nav
			margin-top: 50px
		&__navtab
			margin: 0px 7px
			width: 170px
			div
				font-size: 16px
		&__units
			width: 621px
			margin-top: 55px
		&__item
			min-height: 410px
			margin-right: 0
			transition: 0.7s all
			&:nth-child(odd)
				margin-right: 20px
		&__item-content					
			img				
				height: 150px
		&__btn
			width: 108px
			height: 46px

	.review
		&__info
			max-width: 530px
		&__item
			min-width: 0
			max-width: 760px
			flex-direction: column
			align-items: center
			img
				margin-left: 48px
		&__text
			font-size: 18px
			font-weight: 300
		&__achievements
			font-size: 15px
			font-weight: 400


@media ( max-width:  991px)	
	.container
		max-width: 720px	
	.promo
		.header			
			&__logo
				display: none
			&__oficial
				margin-right: 20px       
			&_agent
				font-size: 18px
				font-weight: 400
			&_brends
				font-size: 18px
				font-weight: 400
			&__phone
				font-size: 18px
				font-weight: 400		
			&__title, &__subtitle
				max-width: 380px
				text-align: center
				margin-right: auto
				margin-left: auto
				font-size: 30px				
			&__icons, &_request, &_refcat
				margin-right: auto
				margin-left: auto
			&_request
				font-size: 17px
				margin-top: 45px
			&__icons
				max-width: 85%
			&_refcat
				margin-top: 32px

			&_descr
				min-height: 45px
				min-width: 170px
				font-size: 20px

			&_btncall
				font-size: 17px
				font-weight: 500
				height: 30px
				width: 220px
				
			&__subtitle
				font-size: 18px
	.advantages				
		&__items
			flex-direction: column
			align-items: center
			justify-content: space-between
			margin-top: 30px
		&_block
			margin-left: 15px	
			margin-right: 78px			
		&_wrapper
			flex-direction: row
			align-items: flex-end
		&_descr
			text-align: justify
			height: auto
			width: 333px
			font-size: 19px
		&_header
			margin-top: 30px
			font-size: 20px
			width: 220px
		&__title
			margin-top: 70px
			font-size: 22px
			font-weight: 600	
	
	.consultation
		&__title
			max-width: 80%
			font-size: 26px
			font-weight: 500
			margin-right: auto 
			margin-left: auto
		&__desc
			max-width: 80%
			margin-right: auto 
			margin-left: auto
			font-weight: 300
		.feed-form
			margin-right: auto 
			margin-left: auto
			input
				margin-top: 20px
		.button_consultation
			margin-top: 30px


@media ( max-width:  767px)
	.container			
		max-width: 540px
	.promo
		min-height: 547px
		.header
			position: static
			&__oficial
				display: none
			&__wrapper
				flex-direction: column
				min-height: 130px
			&__title							
				margin-top: 40px
				font-size: 22px
				height: 26px
				//position: sticky
				//top: 150px
			&_descr
				font-weight: 300
			&__icons
				max-width: 100%
	.consultation
		&__title			
			max-width: 68%
			font-size: 17px
			font-weight: 600			
		&__desc	
			max-width: 67%
			font-size: 17px		
			font-weight: 400
		.button_consultation
			margin-top: 30px
	.catalog
		&__subtitle
			font-size: 25px
		&__navtab
			width: 130px
			height: 40px
			div
				font-size: 14px
		&__units
			justify-content: center
			max-width: 540px
		&__nav
			padding-left: 0
			width: 470px
			margin-right: auto 
			margin-left: auto		
		&__item				
			width: 420px
			min-height: 390px			
			&:nth-child(odd)				
				margin-right: 0
		&__item-footer
			padding-top: 25px
			padding-right: 35px 
			padding-left: 35px
	.review
		&__info
			width: 500px
	.footer
		height: 320px
		&__address
			top:-49%
			height: 220px
		.active
			width: 378px
		#show
			top:10%
		.active #show
			top: 52%
		.ymaps-2-1-79-controls__control_toolbar, .ymaps-2-1-79-map-copyrights-promo, .ymaps-2-1-79-copyright__agreement
			display: none
		

	
				
				
				

		