
.promo		
	position: relative	
	background: url('../img/header_bg.jpg') center (center / cover) no-repeat
	min-height: 650px	
	padding-top: 1px


	.header		
		position: fixed	
		top: 0
		height: 90px
		width: 100%
		z-index: 100
		//margin: 0 auto 0 auto		

		&__wrapper									
			display: flex
			max-width: 940px
			flex-direction: row
			justify-content: space-between
			align-items: center //выравнивает по вертикали
			padding-top: 23px 
			margin: auto

		&__logo
			max-width: 250px
			img 
				width: 100%

		&__oficial
			margin-right: 45px
		&_agent		
			color: #ffffff			
			font-size: 12px
			font-weight: 400	
			line-height: 12px		
			text-align: center						
		&_brends				
			color: #ffffff
			font-size: 18px
			font-weight: 300
			text-align: center		
			line-height: 12px
			margin-top: 12px
			
			
		&__phone
			display: block			
			color: #ffffff			
			font-size: 18px
			font-weight: 400			
			text-align: center
			text-decoration: none

		&_btncall			
			width: 150px
			height: 30px						
			font-size: 12px
			font-weight: 400	
			margin-top: 8px			
			
		&__title					
			display: block
			max-width: 520px			
			height: 36px
			color: #ffffff		
			font-size: 42px
			font-weight: 700		
			text-transform: uppercase	
			text-align: right				
			margin: 165px 100px 0 auto

		&__subtitle
			display: block
			width: 500px
			height: 25px
			color: #ffffff		
			font-size: 24px
			font-weight: 500				
			text-transform: uppercase		
			text-align: right
			margin: 17px 100px 0 auto

		&__icons
			display: flex
			flex-direction: row
			max-width: 426px
			justify-content: space-between
			margin: 66px 119px 0 auto
		&_descr
			max-width: 108px
			height: 30px
			margin-top: 20px
			color: #ffffff	
			font-size: 14px
			font-weight: 400
			text-align: center
			
		&__iconsblock 
			img
				display: block
				margin: auto
		
		&_request			
			width: 300px
			height: 50px						
			font-size: 16px
			font-weight: 400											
			margin: 68px 101px 0 auto	
			
		&_refcat			
			display: block
			max-width: 200px
			height: 17px
			color: #ffffff		
			font-size: 16px
			font-weight: 400		
			text-align: center
			text-decoration: none
			margin: 18px 100px 0 auto	
				
			span				
				text-decoration: underline
			
		&_oficial
			margin-right: 50px
